<ion-view view-title="Credits">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        Funding
      </div>
      <div class="item item-text-wrap">
        <p>
          Development and testing of BikeMoves Illinois was funded by the
          Illinois Department of Transportation.
        </p>
      </div>
      <div class="item item-divider">
        Development
      </div>
      <div class="item item-text-wrap">
        <p>
          BikeMoves Illinois was developed by the Champaign County Regional
          Planning Commission.
        </p>
        <div class="list card">
          <div class="item">
            <h2>Project Staff</h2>
          </div>
          <div class="item">
            <strong>Rita Morocoima-Black</strong><br />
            Transportation Planning Manager
          </div>
          <div class="item">
            <strong>Matt Yoder</strong><br />
            Transportation Planner
          </div>
          <div class="item">
            <strong>Gabe Lewis</strong><br />
            Transportation Planner
          </div>
          <div class="item">
            <strong>Hannah Russell</strong><br />
            Transportation Planning Intern
          </div>
        </div>
        <p>
          Initial development was conducted by a team of students in the
          Department of Computer Science at the University of Illinois at
          Urbana-Champaign.
        </p>
        <div class="list card">
          <div class="item">
            <h2>Student Developers</h2>
          </div>
          <div class="item">
            Steven Cao
          </div>
          <div class="item">
            Alec Fekete
          </div>
          <div class="item">
            David Fu
          </div>
          <div class="item">
            Nicholas Humbles
          </div>
          <div class="item">
            Kevin Li
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
