<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Report Incident Near: {{incidentAddress}}</h1>
  </ion-header-bar>

  <ion-content>
    <ion-list>
      <div class = "item item-divider">Incident Type</div>
      <ion-radio ng-model="incident.Ui" value ="conditionIssue" name="primary"> Condition Issue </ion-radio>
      <ion-radio ng-model="incident.Ui" value ="obstruction" name="primary"> Obstruction </ion-radio>
      <ion-radio ng-model="incident.Ui" value ="crash" name="primary"> Crash </ion-radio>
      <ion-radio ng-model="incident.Ui" value ="other" name="primary"> Other </ion-radio>

    <div ng-show="incident.Ui=='crash'" >
      <div class = "item item-divider">Accident Type</div>
      <ion-radio ng-model="incident.specific" value ="bikeOnBike" name="secondary"> Bike-Bike </ion-radio>
      <ion-radio ng-model="incident.specific" value ="bikeOnObject" name="secondary"> Bike-Object </ion-radio>
      <ion-radio ng-model="incident.specific" value ="bikeOnVehicle" name="secondary"> Bike-Vehicle </ion-radio>
      <ion-radio ng-model="incident.specific" value ="closeCall" name="secondary"> Close Call </ion-radio>
      <ion-radio ng-model="incident.specific" value ="otherCrash" name="secondary"> Other Crash </ion-radio>

    </div>

    <div ng-show="incident.Ui=='obstruction'">
      <div class = "item item-divider">Obstruction Type</div>
      <ion-radio ng-model="incident.specific" value ="vegetation" name="secondary"> Vegetation </ion-radio>
      <ion-radio ng-model="incident.specific" value ="debris" name="secondary"> Debris </ion-radio>
      <ion-radio ng-model="incident.specific" value ="parkedVehicle" name="secondary"> Parked Vehicle </ion-radio>
      <ion-radio ng-model="incident.specific" value ="treeBranch" name="secondary"> Tree Branch </ion-radio>
      <ion-radio ng-model="incident.specific" value ="otherObstruction" name="secondary"> Other Obstruction</ion-radio>

    </div>

    <div ng-show="incident.Ui=='conditionIssue'">
      <div class = "item item-divider">Obstruction Type</div>
      <ion-radio ng-model="incident.specific" value ="pothole" name="secondary"> Pothole </ion-radio>
      <ion-radio ng-model="incident.specific" value ="crackedSurface" name="secondary"> Cracked Surface </ion-radio>
      <ion-radio ng-model="incident.specific" value ="fadedMarkings" name="secondary"> Faded Markings </ion-radio>
      <ion-radio ng-model="incident.specific" value ="damagedSign" name="secondary"> Damaged Sign </ion-radio>
      <ion-radio ng-model="incident.specific" value ="otherCondition" name="secondary"> Other Condition Issue</ion-radio>

    </div>
    <div class = "item item-divider"> Comments </div>
    <label class = "item item-input large" >
      <textarea placeholder="Put Additional Info Here" ng-model="incident.comment" rows = '4'></textarea>
    </label>
  </ion-list>


    <div class="padding-horizontal">
      <button class="button button-block icon-left ion-share button-positive"
      ng-click="submitIncident()">Submit</button>
      <button class="button button-block icon-left ion-folder button-calm"
      ng-if="!autoSubmit" ng-click="saveIncident()">Save</button>
      <button class="button button-block icon-left ion-trash-b button-assertive"
      ng-click="discardIncident()">Discard</button>
    </div>


  </ion-content>
</ion-modal-view>
