<ion-view view-title="Legal Notices">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        Safety
      </div>
      <div class="item item-text-wrap">
        <p>
          It is your responsibility as a cyclist to be safe and to follow the
          rules of the road. Always wear a helmet, and follow all applicable
          traffic laws.
        </p>
        <p>
          <strong>Do not attempt to control the BikeMoves Illinois
          app while you are riding.</strong> Instead, find a safe place to stop
          before interacting with the app.
        </p>
      </div>
      <div class="item item-divider">
        Terms of Service
      </div>
      <div class="item item-text-wrap">
        <p>
          By using the BikeMoves Illinois app, you agree to the
          <a href="#" onclick="window.open('http://bikemoves.me/terms', '_system', 'location=yes')">Terms of Service</a>.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
