<ion-view title="Map">
  <ion-content data-tap-disabled="true" scroll="false">
    <div id="map_canvas"></div>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <a ng-click="getCurrentPosition()" class="button button-icon icon ion-navigate"></a>
    <h1 class="title" style="text-align:center;width: 25%;" ng-show="location.isAccurate">{{odometer}} mi</h1>
    <h1 class="title" style="text-align:center;color:red" ng-hide="location.isAccurate">Acquiring location</h1>
    <div class="buttons align-right">
      <button class="button icon {{startButtonIcon}}" ng-show="location.isAccurate" ng-click="onClickStart()" style="width:75px"></button>
      <button class="button icon {{stopButtonIcon}}" ng-disabled="!recording" ng-click="onClickStop()" style="width:75px"></button>
    </div>
  </ion-footer-bar>
</ion-view>
