<ion-view title="Map">
  <ion-nav-buttons side="primary">
    <div class="button button-dark" ng-if="status.isStopped">Stopped</div>
    <div class="button button-energized" ng-if="status.isPaused">Paused</div>
    <div class="button button-assertive" ng-if="status.isRecording">Recording</div>
  </ion-nav-buttons>
  <ion-nav-buttons side ="secondary">
    <div class = "button button-assertive icon-right ion-alert-circled" ng-click = "reportIncident($event)"></div>
  </ion-nav-buttons>
  <ion-content data-tap-disabled="true" scroll="false">
    <div id="current-map"></div>
  </ion-content>
  <ion-footer-bar class="bar-stable" align-title="left">
    <a ng-click="getCurrentPosition()"
      class="button button-icon icon ion-navigate bikemoves-locate"></a>
    <h1 class="title bikemoves-odometer">{{odometer}} mi</h1>
    <div class="buttons align-right">
      <button class="button icon ion-play button-balanced bikemoves-play"
        ng-if="!status.isRecording" ng-click="startRecording()"></button>
      <button class="button icon ion-pause button-energized bikemoves-pause"
        ng-if="status.isRecording" ng-click="pauseRecording()"></button>
      <button class="button icon ion-stop button-assertive bikemoves-stop"
        ng-disabled="!status.isRecording" ng-click="stopRecording()"></button>
    </div>
  </ion-footer-bar>
</ion-view>
