<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Map" icon-off="ion-location" icon-on="ion-location" href="#/app/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>
  <ion-tab title="History" icon-off="ion-clock" icon-on="ion-clock" href="#/app/previous_trips">
    <ion-nav-view name="tab-previous-trips"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" href="#/app/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Settings" icon-off="ion-gear-b" icon-on="ion-gear-b" href="#/app/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>
