  <ion-view view-title="Previous Trips">
    <ion-content>
      <ion-list ng-if="trips.length > 0">
        <a ng-repeat="trip in trips track by $index" class="item item-icon-right" href="#/app/previous_trips/{{$index}}">
          {{formatDate(trip.startTime)}}
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </ion-list>
      <div ng-if="trips.length == 0" class="row row-center no-content no-previous-trips">
        <div class="col">
          <i class="icon ion-map icon-large"></i>
          <p class="text-large">You have not recorded any trips.</p>
          <p><a class="button button-positive button-block" href="#/app/map">Start a Trip</a></p>
        </div>
      </div>
    </ion-content>
  </ion-view>
