<ion-view view-title="Trip Details">
	<ion-content>
		<div id="previous-map"></div>
		<div class="card">
			<div class="row">
				<div class="col">
					<div class="bikemoves-list-label">Date</div>
					<div class="bikemoves-list-value">{{date}}</div>
				</div>
				<div class="col">
					<div class="bikemoves-list-label">Start Time</div>
					<div class="bikemoves-list-value">{{time}}</div>
				</div>
				<div class="col">
					<div class="bikemoves-list-label">Duration</div>
					<div class="bikemoves-list-value">{{duration}}</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="bikemoves-list-label">From</div>
					<div class="bikemoves-list-value" ng-if="origin">{{origin}}</div>
					<div class="bikemoves-list-value" ng-if="!origin">&mdash;</div>
				</div>
				<div class="col">
					<div class="bikemoves-list-label">To</div>
					<div class="bikemoves-list-value" ng-if="destination">{{destination}}</div>
					<div class="bikemoves-list-value" ng-if="!destination">&mdash;</div>
				</div>
				<div class="col">
					<div class="bikemoves-list-label">Distance</div>
					<div class="bikemoves-list-value">{{distance}} miles</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="bikemoves-list-label">Average Speed</div>
					<div class="bikemoves-list-value">{{avgSpeed}} mph</div>
				</div>
				<div class="col">
					<div class="bikemoves-list-label">Calories</div>
					<div class="bikemoves-list-value">{{calories}} cal</div>
				</div>
				<div class="col">
					<div class="bikemoves-list-label">GHG Reduced</div>
					<div class="bikemoves-list-value">{{ghg}} lb</div>
				</div>
			</div>
	</ion-content>
</ion-view>
