<ion-view view-title="Privacy">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        Data Submission
      </div>
      <div class="item item-text-wrap">
        <p>
          Demographics from your profile and any trips you submit will be shared
          with the Champaign County Regional Planning Commission and the Illinois
          Department of Transportation. We use your data for transportation
          planning purposes to improve bicycle facilities in the community.
        </p>
        <p>
          When you enable automatic trip submission, your trips are submitted
          automatically when you save them. If you disable this option, you can
          choose to submit a trip or skip submission and save it to your device.
        </p>
      </div>
      <div class="item item-divider">
        Privacy Policy
      </div>
      <div class="item item-text-wrap">
        <p>
          We will not make public individual trips or other identifiable
          information. For details about the information we track and how we use
          it, see our <a href="#" onclick="window.open('http://bikemoves.me/privacy', '_system', 'location=yes')">privacy policy</a>.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
