<ion-modal-view>
<ion-header-bar>
      <h1 class="title">Profile Information</h1>
</ion-header-bar>

<ion-content>
<label class="item item-input item-select">
  <div class="input-label">Gender</div>
  <select ng-model="profile.sex">
    <option>Male</option>
    <option>Female</option>
    <option>Other</option>
  </select>
</label>

<label class="item item-input item-select">
  <div class="input-label">Age</div>
  <select ng-model="profile.age">
    <option>Under 15</option>
    <option>15 to 19</option>
    <option>20 to 24</option>
    <option>25 to 34</option>
    <option>35 to 44</option>
    <option>45 to 54</option>
    <option>55 to 64</option>
    <option>65 to 74</option>
    <option>75 and Older</option>
  </select>
</label>

<label class="item item-input item-select">
  <div  class="input-label item-text-wrap">Cycling Experience</div>
  <select style="padding-left: 0px;" ng-model="profile.cyclingExperience">
    <option>Beginner</option>
    <option>Intermediate</option>
    <option>Advanced</option>
  </select>
</label>
</ion-content>

<ion-footer-bar>
  <a class="button bar button-positive" ng-click="saveProfile()" >OK</a>
</ion-footer-bar>

</ion-modal-view>
