<ion-view view-title="Profile" ng-controller="profileCtrl">
  <ion-nav-buttons side="primary">
    <a class="button button-positive" ng-disabled="!dirty" ng-click="saveProfile()">Save</a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        Demographics
      </div>
      <label class="item item-input item-select">
        <div class="input-label">Gender</div>
        <select ng-model="profile.gender"
          ng-options="item.id as item.label for item in options.gender"
          ng-change="profileChanged()">
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Age</div>
        <select ng-model="profile.age"
          ng-options="item.id as item.label for item in options.age"
          ng-change="profileChanged()">
        </select>
      </label>
      <label class="item item-input item-select">
        <div  class="input-label item-text-wrap">Cycling Experience</div>
        <select ng-model="profile.cyclingExperience"
          ng-options="item.id as item.label for item in options.cyclingExperience"
          ng-change="profileChanged()">
        </select>
      </label>
      <div class="item item-divider">
        Statistics
      </div>
      <div class="item">
        Total Distance: <strong>{{ distance }} miles</strong>
      </div>
      <div class="item">
        Total GHG Reduced: <strong>{{ ghg }} lb</strong>
      </div>
    </div>
  </ion-content>
</ion-view>
