
<label class="item item-input item-select">
  <div class="input-label">Gender</div>
  <select ng-model="info.sex">
    <option>Male</option>
    <option>Female</option>
    <option>Other</option>
  </select>
</label>

<label class="item item-input item-select">
  <div class="input-label">Age</div>
  <select ng-model="info.age">
    <option>Under 15</option>
    <option>15 to 19</option>
    <option>20 to 24</option>
    <option>25 to 34</option>
    <option>35 to 44</option>
    <option>45 to 54</option>
    <option>55 to 64</option>
    <option>65 to 74</option>
    <option>75 and Older</option>
  </select>
</label>

<label class="item item-input item-select">
  <div class="input-label item-text-wrap">Cycling Experience</div>
  <select ng-model="info.cyclingExperience">
    <option>Beginner - Interested but concerned</option>
    <option>Intermediate - Enthused and confident</option>
    <option>Advanced - Strong and fearless</option>
  </select>
</label>
