<ion-view view-title="Profile" ng-controller="profileCtrl">
  <ion-content>
    <div class="list">
      <div class="item item-button-right">
        <button class="button icon ion-gear-a" ng-click="editProfile()"></button>
        <p>Gender: {{ profile.sex }}</p>
        <p>Age: {{ profile.age }}</p>
        <p>Cycling Experience: {{ profile.cyclingExperience }}</p>
      </div>
      <div class="item">
        <h3>Statistics</h3>
        <p>Total Distance: {{ distance }} miles</p>
        <p>Total GHG Reduced: {{ ghg }} lb</p>
      </div>
    </div>
  </ion-content>
</ion-view>
