<ion-view view-title="Terms and Conditions">
  <ion-content>
    <div class="list">
      <div class="item item-text-wrap">
        <p>
          These are some of the highlights of our <a href="#" onclick="window.open('http://bikemoves.me/terms', '_system', 'location=yes')">Terms and Conditions of Use</a>.
          By using BikeMoves Illinois, you agree to these terms and conditions.
        </p>
      </div>
      <div class="item item-text-wrap">
        <p>
          You must be at least 13 years old to use BikeMoves.
        </p>
      </div>
      <div class="item item-text-wrap">
        <p>
            BikeMoves allows you to record and submit bicycle trips and rider
            demographics. Once submitted, these data become the property of the
            Champaign County Regional Planning Commission (CCRPC) and the
            Illinois Department of Transportation (IDOT).
          </p>
        </div>
        <div class="item item-text-wrap">
          <p>
            CCRPC and IDOT use data submitted via BikeMoves for planning
            purposes and may share data with partner agencies and, in aggregate
            form, with the public. For details, see our
            <a href="#" onclick="window.open('http://bikemoves.me/privacy', '_system', 'location=yes')">privacy policy</a>.
          </p>
        </div>
        <div class="item item-text-wrap">
          <p>
            You are responsible for obeying the rules of the road and all
            applicable traffic laws while using BikeMoves. <strong>DO NOT</strong>
            attempt to control BikeMoves while your bicycle is in motion or
            while you are in the path of traffic.
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
