I biked...
<br><br>
<label class="item item-input item-select">
    
    <div class="input-label">
      From:
    </div>
    <select ng-model="formData.from">
      <option>Home</option>
      <option>Work</option>
      <option>K-12 School</option>
      <option>University</option>
      <option>Shopping</option>
      <option>Other</option>
    </select>

    

</label>

<label class="item item-input item-select">
    
    <div class="input-label">
      To:
    </div>
    <select  ng-model="formData.to">
      <option>Home</option>
      <option>Work</option>
      <option>K-12 School</option>
      <option>University</option>
      <option>Shopping</option>
      <option>Other</option>
    </select>

</label>