<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Tell Us About Your Trip</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <p class="item">I biked...</p>
      <label class="item item-input item-select">
          <div class="input-label">
            From:
          </div>
          <select ng-model="formData.from">
            <option>Home</option>
            <option>Work</option>
            <option>K-12 School</option>
            <option>University</option>
            <option>Shopping</option>
            <option>Other</option>
          </select>
      </label>
      <label class="item item-input item-select">
          <div class="input-label">
            To:
          </div>
          <select ng-model="formData.to">
            <option>Home</option>
            <option>Work</option>
            <option>K-12 School</option>
            <option>University</option>
            <option>Shopping</option>
            <option>Other</option>
          </select>
      </label>
      <button class="button button-full button-positive" ng-click="submitTrip()">Save and Submit</button>
      <button class="button button-full button-calm" ng-click="saveTrip()">Save</button>
      <button class="button button-full button-stable" ng-click="resumeTrip()">Resume</button>
      <button class="button button-full button-assertive" ng-click="discardTrip()">Discard</button>
    </div>
  </ion-content>
</ion-modal-view>
