#current-map {
  display: block;
  height: 100%;
  width: 100%;
}
#previous-map {
  height: 50%;
  width: 100%;
}
.scroll {
  height: 100%;
}
.bikemoves-play,
.bikemoves-pause,
.bikemoves-stop {
  margin-left: 10px;
  width: 75px;
}
.bikemoves-odometer {
  padding-left: 15px;
}
.bikemoves-list-value {
  font-weight: bold;
}
.icon-large {
  font-size: 10em;
}
.text-large {
  font-size: 2em;
  line-height: 1.2em;
  padding: 1em;
}
.no-content {
  background-color: #dddddd;
  height: 100%;
  text-align: center;
}
.no-content .icon-large {
  color: #bbbbbb;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}
.no-content .text-large {
  color: #666666;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
}
.bar.bar-trns {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	color: white;
}

/* Map popup */
.mapboxgl-popup-content h2 {
  font-size: 1.4em;
  font-weight: 200;
  margin: 0 0 0.25em 0;
}
.mapboxgl-popup-content p {
  margin: 0;
}
