/* Empty. Add your own CSS if you like */
#map_canvas {
  display: block;
  height: 100%;
  width: 100%;
}
.scroll {
  height: 100%;
}
.bikemoves-play,
.bikemoves-pause,
.bikemoves-stop {
  margin-left: 10px;
  width: 75px;
}
.bikemoves-odometer {
  padding-left: 15px;
}
