/* Empty. Add your own CSS if you like */
.recording-status {
  color: white;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.recording-status-stopped {
  background-color: #444444;
}
.recording-status-paused {
  background-color: #e6b500;
}
.recording-status-recording {
  background-color: #28a54c;
}
#map_canvas {
  display: block;
  height: calc(100% - 40px);
  width: 100%;
}
.scroll {
  height: 100%;
}
.bikemoves-play,
.bikemoves-pause,
.bikemoves-stop {
  margin-left: 10px;
  width: 75px;
}
.bikemoves-odometer {
  padding-left: 15px;
}
.bikemoves-list-label {
  text-align: right;
}
.bikemoves-list-value {
  font-weight: bold;
  text-align: left;
}
